[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "==18.0"
unified-range = {editable = true,path = "."}

[dev-packages]
pudb = "*"
ipython = "*"
twine = "*"
monkeytype = "*"
pytest = "*"
hypothesis = "*"

[requires]
python_version = "3.6"
